.layoutRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainRow {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
  position: relaivite;
}

.viewer {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
