.layoutRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* ⭐ 추가 */
}

.mainRow {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden; /* ⭐ 추가 */
  position: relaivite;
}

.sidebar {
  width: 220px;
  border-right: 1px solid #ddd;
}

.viewer {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
